/* Header */


.header {
    background: var(--faded-secondary-color-2);
    padding: 0 40px;
}

.header .inner-wrap .icon-mobi {
    display: none;
}

.header .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .inner-wrap .inner-title {
    font-weight: 800;
    font-size: 26px;
    color: #000;
}

.header .inner-wrap .inner-title:hover {
    color: var(--color-three);
}

.header .inner-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.header .inner-menu ul li a {
    font-size: 18px;
    padding: 25px;
    display: inline-block;
    font-weight: 600;
}

.header .inner-menu ul li a:hover {
    background: #EFEFEF;
}

.header .inner-wrap .inner-button {
    display: flex;
}

.header .inner-wrap .inner-button a {
    margin-left: 8px;
}

@media (max-width:991.98px) {
    .header .inner-wrap .inner-button {
        display: none;

    }

    .header .inner-wrap .inner-menu {
        display: none;
    }

    .header .inner-wrap .icon-mobi {
        display: block;
        font-size: 24px;
        color: black;
        cursor: pointer;
    }

}

/* End Header */

/* Button */
.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #fff;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.button-one {
    background: var(--color-one);
    color: var(--color-three);
}

.button-one:hover {
    background: var(--color-three);
    color: #fff;
    text-decoration: none;

}

.button-two {
    background: var(--color-three);
    color: #fff;
    border: 2px solid var(--color-three);

}

.button-two:hover {
    background: var(--color-one);
    text-decoration: none;
    color: var(--color-three);
}

.button-three {
    background: var(--faded-secondary-color-2);
    border: 2px solid var(--color-three);
    color: var(--color-three);
}

.button-three:hover {
    text-decoration: none;
    background: var(--color-three);
    color: #fff;
}

/* End Button */

/* Section-one */

.section-one {
    background: var(--faded-secondary-color-2);
    padding: 80px;
}

.section-one .inner-wrap {
    display: flex;
    align-items: center;
}

.section-one .inner-content {
    flex: 1;
}

.section-one .inner-content .inner-sub-title {
    color: var(--color-three);
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 600;
}

.section-one .inner-content .inner-title {
    font-weight: 800;
    font-size: 58px;
    margin-bottom: 30px;
}

.section-one .inner-content .inner-desc {
    font-size: 28px;
    font-weight: 600;
    color: var(--color-two);
    margin-bottom: 30px;
}

.section-one .inner-button {
    display: flex;
}

.section-one .inner-content .inner-button a {
    margin-right: 20px;
}

.section-one .inner-wrap .inner-image {
    width: 40%;
    margin-left: 5%;
}

.section-one .inner-image img {
    width: 100%;
}


@media (max-width : 992.98px) {
    .section-one .inner-content .inner-sub-title {
        font-size: 18px
    }

    .section-one .inner-content .inner-title {
        font-size: 40px;
    }

    .section-one .inner-content .inner-desc {
        font-size: 25px;
    }

    .section-one .inner-wrap {
        flex-wrap: wrap;
    }

    .section-one .inner-wrap .inner-image {
        width: 80%;
        margin: 0;
        padding: 30px 0;
    }

}

@media (max-width : 767.98px) {
    .section-one .inner-wrap .inner-image {
        width: 80%;
        margin-bottom: 20px;
    }

    .section-one .inner-content .inner-sub-title {
        font-size: 18px
    }

    .section-one .inner-content .inner-title {
        font-size: 40px;
    }

    .section-one .inner-content .inner-desc {
        font-size: 25px;
    }
}

/* END Section-one */


/*Section-two */
.section-two {
    padding: 80px 0 50px;
    background: var(--bg-1);
}

.section-two .inner-wrap {
    display: flex;
    align-items: center;


}

.section-two .inner-wrap .inner-image {
    width: 40%;
    margin-right: 5%;

}

.section-two .inner-wrap .inner-image img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.section-two .inner-wrap .inner-content {
    flex: 1;
}

.section-two .inner-wrap .inner-content img {
    margin-bottom: 20px;
}

.section-two .inner-wrap .inner-content a {
    font-weight: 800;
    color: var(--color-three);
}

.section-two .inner-wrap .inner-content a:hover {
    color: #777777;
}

.section-two .inner-wrap .inner-sub-title {
    color: #777777;
    font-size: 20px;
}

.section-two .inner-wrap .inner-title {
    margin-top: 20px;
    font-weight: 800;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 65px;
}

.section-two .inner-wrap .inner-desc {
    font-weight: 800;
    color: #777777;
    margin-bottom: 20px;
}

@media (max-width: 991.98px) {
    .section-two .inner-wrap {
        flex-wrap: wrap;
    }

    .section-two .inner-wrap .inner-image {
        width: 70%;
        margin-bottom: 50px;
    }

    .section-two .inner-wrap .inner-content {
        width: 80%;
    }

    .section-two .inner-wrap .inner-title {
        font-size: 40px;
    }

}

@media (max-width : 767.98px) {
    .section-two .inner-wrap .inner-image {
        width: 80%;
        margin-bottom: 20px;
    }
    .section-two .inner-wrap .inner-image {
      
        margin-bottom: 50px;
    }
}



/* Section-three */

.section-three {
    margin-top: 50px;
    margin-bottom: 70px;
}

.section-three .inner-wrap {
    margin-bottom: 40px;
    padding: 0;
    margin: 0;
}

.section-three .box-head .inner-introduce {
    color: var(--color-three);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-three .box-head .inner-title {
    color: #000;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 15px;
}

.section-three .box-head p {
    color: var(--color-two);
    font-weight: 800;
    margin-bottom: 30px;
}

.section-three .inner-box {
    box-shadow: 2px 4px 3px 2px rgb(0 0 0 /10%);
    border-radius: 10px;
}

.section-three .inner-images {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 4/3;
    border-radius: 15px;
    overflow: hidden;
}

.section-three .inner-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-three .inner-content {
    text-align: center;
    margin-top: 10px;
    padding: 10px;

}

.section-three .inner-content a {
    font-weight: 800;
    color: #000;
}

.section-three .inner-content a:hover {
    color: var(--color-three);
}

.section-three .inner-content .inner-job {
    color: var(--color-two);
    font-weight: 700;
}

.section-three .inner-content .inner-contact {

    color: var(--color-three);
}

.section-three .inner-content .inner-contact i {
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}

@media (max-width : 991.98px){
    .section-three .row .inner-box{
        margin-bottom: 30px;
    }
}


/* END Section-three */
/* Footer */

.footer {
    margin: 15px 0;
}

.footer .inner-title {
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
  
    font-size: 20px;
}


.footer .inner-detail ul {
    list-style-type: none;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.footer .inner-detail ul li {
    display: inline-flex;
}

.footer .inner-detail ul li a {
    font-weight: 600;
    font-size: 16px;
    display: flex;
}

.footer .contact i {
    font-size: 23px;
    color: var(--color-three);
    display: flex;
    align-items: center;
}

.footer .contact li {
    font-weight: 600;
    font-size: 1px;
    color: var(--color-two);
    display: inline-block;
}

.footer .contact span {
    margin-left: 8px;
}

.footer .contact .adress {
    margin-left: 14px;
}

@media (max-width : 991.98px){
    
.footer .inner-wrap{
    margin-bottom: 30px;
}
}
/*  End Footer */


/* footer-bottom */

.footer-bottom {
    background: #FAFAFA;
    padding: 20px;
}

.footer-bottom .inner-wrap {
    display: flex;
    align-items: center;
    margin-left: 12px;
    justify-content: space-between;

}

.footer-bottom .inner-text {
    font-weight: 600;
    color: var(--color-two);
}



.footer-bottom .inner-logo i {
    margin-left: 10px;
    color: var(--color-three);
    font-size: 22px;
}



/* END footer-bottom */